/* about */

.about {
    padding: 20px;
    margin: -35px;
}

.about__intro {
    font-size: 1rem;
    padding: 20px 28px;
    margin: 10px 0;
}

.about__container {
    background-color:palevioletred;
    padding: 30px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: rgba(233, 105, 184, 0.37);
}

.about__heading {
    font-size: 25px;
    font-weight: 700;
    color: #354358;
    margin-left: 10px;
}